<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.private.iokit.IOServiceSetAuthorizationID</key>
	<true/>
	<key>com.apple.security.assets.movies.read-write</key>
	<true/>
	<key>com.apple.security.assets.music.read-write</key>
	<true/>
	<key>com.apple.security.assets.pictures.read-write</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.hid.manager.user-access-keyboard</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.CallerPID</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.private.iokit.darkwake-control</key>
	<true/>
	<key>com.apple.private.iokit.interactive-push</key>
	<true/>
	<key>com.apple.security.library-repair.ostype</key>
	<true/>
	<key>com.apple.security.library-repair.extensions</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceBackup</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>com.apple.TextInput</string>
		<string>com.apple.backup.launcher</string>
		<string>com.apple.Gatekeeper.Gatekeeper</string>
		<string>com.apple.windowserver</string>
		<string>com.apple.backupd</string>
		<string>com.apple.configurationprofiles</string>
		<string>com.apple.Gatekeeper</string>
		<string>com.apple.coreservices</string>
		<string>com.apple.configurator</string>
		<string>com.apple.kernel</string>
		<string>com.apple.backup</string>
		<string>com.apple.crashreporter</string>
		<string>com.apple.runtime</string>
		<string>com.apple.nc</string>
		<string>com.apple.server</string>
		<string>com.apple.library-repair.error</string>
		<string>com.apple.systempreferences</string>
	</array>
	<key>seatbelt-profiles</key>
	<array>
		<string>deleted</string>
	</array>
	<key>com.apple.private.CacheDelete</key>
	<array>
		<string>PURGEABLE_ENTITLEMENT</string>
		<string>ITEMIZED_PURGEABLE_ENTITLEMENT</string>
		<string>PURGE_ENTITLEMENT</string>
		<string>CANCEL_PURGE_ENTITLEMENT</string>
		<string>PERIODIC_ENTITLEMENT</string>
	</array>
</dict>
</plist>
